body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}


.name{
  text-align: left;
  margin-left: 20px;
}

.post {
  background-color: lightgray;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: .25px lightgrey solid;
}


#comments {
  list-style: none;
}
.save {
  font-size: 18px;
  border: white;
  border-radius: 2px;
  cursor: pointer;

}

@media only screen and (max-width: 768px ) {
  .post {
    margin: 20px;
    height: auto;
  }
  #welcome {
    margin-top: 50px;
  }

  #post-text {
    font-size: 10px;
  }
  .name {
    margin-top: -10px;
  }
}