body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}


.name{
  text-align: left;
  margin-left: 20px;
}

.post {
  background-color: lightgray;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: .25px lightgrey solid;
}


#comments {
  list-style: none;
}
.save {
  font-size: 18px;
  border: .25px black;
  border-radius: 2px;
  height: 36px;
  width: 100px;
  cursor: pointer;
  float: left;
  background-color: #EFEFEF;
  margin-right: 5px;
  margin-left: 105px;

}

.like {
  display: flex;
  flex-direction: row;
  height: 16px;
  justify-content:space-between;
  align-items: center;
  width: 70px;
  background-color: #EFEFEF;
  padding: 10px;
  cursor: pointer;
  
  
}

#like-button {
  border: none;
  border-radius: 2px;
  background-color: #EFEFEF;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 768px ) {
  .post {
    margin: 20px;
    height: auto;
  }
  #welcome {
    margin-top: 50px;
  }

  #post-text {
    font-size: 10px;
  }
  .name {
    margin-top: -10px;
  }

  .save {
    width: 100px;
    margin-left: 10px;
  }

  .like {
    margin-top: 10px;
  }
}