body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}


.name{
  text-align: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .saved-posts{
    margin-top: 50px;
  }
} 