body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}


.name{
  text-align: left;
  margin-left: 20px;
}

.post {
  background-color: lightgray;
  max-width: 800px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2px;
  border: .25px lightgrey solid;
}
